html {
    

}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    background: url("../img/mountain-landscape.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    letter-spacing: 3px;
    width: 100%;
}

/* center box */
.main {
    position: relative;
    margin: 5% auto;
    text-align: center;
    width: 60%;
    border-radius: 30px;
    /* display: grid;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    'header'
    'center'
    'footer';
       */
}

label {
    display: block;
    color: white;
    transform: scale(1, .85);
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 10px;
    transform: scale(1, .85);
}

input {
    text-align: left;
    border: 0;
    background: none;
    border-bottom: 2px solid white;
    font-size: 1.5em;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    transform: scale(1, .85);
    width: 22vw;

    
}

select {
    position: relative;
    /* left: -23%; */
    font-family: 'Open Sans Condensed', sans-serif;
    transform: scale(1, .85);
    background: white;
    opacity: 0.7;
    font-size: 1.5em;

}

option {
    font-family: 'Open Sans Condensed', sans-serif;
    transform: scale(1, .85);
}

.center::after {
    content: "";
    background: #92b9f3;
    opacity: 0.85;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.header {
  /* grid-area: header; */
  text-align: center;
  width: 100%;
  position: relative;
  background-color: #ffcc4b;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

/* .icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
} */

.logo {
    text-transform: uppercase;
    color: white;
    letter-spacing: .5em;
    font-weight: 400;



}

.logo::before {
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: 2em;
    content: "\f72e";
    display: block;
    background: #296dff; 
    opacity: 0.85;
    color: white;
    border-radius: 50%;
    position: absolute;
    padding: 20px;
    top: -15px;
    left: 15px;
    letter-spacing: 0;

}


.logo::after {
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: .75em;
    content: "\f00d";
    display: block;
    background: #ffdb81; 
    color: white;
    border-radius: 50%;
    position: absolute;
    padding: 11px 15px;
    top: 18px;
    right: 20px;
    letter-spacing: 0;

    
}

form {
    margin:30px;
}

form .first-row {
    text-align: center;
    display: flex;
    flex-direction: row;

}

.first-col, .second-col {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 30px auto;


}

.first-col > div {
    padding: 10px;
}

.second-col > div {
    padding: 10px;
}

.footer {
    /* grid-area: footer; */
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    height: 80px;
}

.facebook, .twitter {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    justify-content: center; 

}

.facebook {
    background-color: #3C5A99;;
    width: 100%;
}

i {
    display: inline-block;
    position: relative;

    padding: 20px;
    color: white;
    font-size: 2em;
}

.twitter {
    background-color: #38A1F3;
    width: 100%;
}

/* .twitter-message::before {
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
    font-size: .75em;
    content: "\f099";
    display: block;
    position: relative;
    border-radius: 50%;
    letter-spacing: 0;
} */

.fb-message, .twitter-message {
    text-transform: uppercase;
    color: white;
    padding-top: 12px;
}

#submit {
    background-color: #ffcc4b;
    font-size: 1.75em;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 20px 35px;
    border-radius: 20%/50%;
    margin: 10px;
    margin-top: 10px;
    transform: scale(1, .85);
    text-align: center;
    width: initial;
    border: none;

}

h4, h2 {
    padding: 0;
    margin: 0;
    transform: scale(1,.85);
    letter-spacing: .3em;
    text-align: left;
}

h4 {
    font-weight: 200;
    font-size: .7em;


}

h2 {
    font-weight: 400;

}